.swiper {
    width: 100%;
    height: 400px;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a{
    color: black !important;
}
a.btn-primary{
    color: white !important;
    margin: 0 auto;
}
.card-img-top {
    object-fit: cover; /* Ensure the image scales proportionally */
}

.details {
    margin-top: 20px;
    padding: 0 !important;
}

.w-25{
    padding: 10px !important;
    margin: 15px auto!important;
    background-color: rgba(0, 0, 0, .03);
}

.card.shadow-sm:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 1s;
    background-color: #f5f5f5;
    animation: bounce 1s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

form p{
    margin-top: 20px !important;
}
select {
    padding: 5px !important;
}
 label{
    font-size: 1.5rem !important;
 }

 .fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

