{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
    <div class="swiper my-5 col-12">
        <div class="swiper-wrapper">
            {% for slider in sliders %}
                <div class="swiper-slide">
                    <img src="{{ slider.image.url }}" alt="{{ slider.title }}">
                    <h2>{{ slider.title }}</h2>
                    <p>{{ slider.description }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination right"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    
    <div class="d-flex justify-content-around  ">

    <div class="card m-5" style="width: 40rem;">
        <img src="{% static 'assets/women_fashion.jpg' %}" class="card-img-top" alt="men fashion">
        <div class="card-body">
          <h5 class="card-title">Women fashion</h5>
          <ul class="card-text">
            <li>
                <a href="{% url 'shoes' %}?gender=Women" class="link-underline-opacity-0">Women's Shoes</a>
            </li>
            <li>
                <a href="{% url 'clothes' %}?gender=Women" class="link-secondary link-underline-opacity-0 ">Women's Clothing</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="card m-5" style="width: 40rem;">
        <img src="{% static 'assets/men_fashion.jpg' %}" class="card-img-top" alt="men fashion">
        <div class="card-body">
          <h5 class="card-title">Men fashion</h5>
          <ul class="card-text">
            <li>
                <a href="{% url 'shoes' %}?gender=Men" class="link-underline-opacity-0 link-secondary">Men's Shoes</a>
            </li>
            <li>
                <a href="{% url 'clothes' %}?gender=Men" class="link-underline-opacity-0 link-secondary">Men's Clothing</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
{% endblock %}