{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
    {% for slider in sliders %}
    <div class="swiper {% if slider.id|divisibleby:2 %}left{% else %}right{% endif %}">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="{{ slider.image.url }}" alt="{{ slider.title }}">
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    {% endfor %}

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            loop: true,
            pagination: {
                el: '.swiper-pagination',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
</body>
</html>