{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="swiper my-5 col-12">
            <div class="swiper-wrapper">
                {% for image in shoe.image.all %}
                    <div class="swiper-slide detail">
                        <img src="{{ image.image.url }}" alt="{{ image.image.name }}">
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination right"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <div class="col-12 px-0">
            <div class="card mb-5">
                <div class="card-header text-center mt-5">
                    <h3>Product Details</h3>
                </div>
                <div class="card-body d-flex justify-content-around flex-wrap text-center">
                    <div class='col-12 mt-4'>
                        <h1 class="card-title">{{ shoe.name }}</h1>
                    </div>
                    <div class="col-12 my-4">
                        <h3 class="card-text">{{ shoe.description }}</h3>
                    </div>

                    <div class="w-25">
                        <div class="d-flex flex-column">
                            <h2 class="card-subtitle mb-2 text-muted">Price:</h2>
                            <h3 class="card-text">{{ shoe.price }}</h3>
                        </div>
                    </div>
                    <div class="w-25">
                        <div class="d-flex flex-column">
                            <h2 class="card-subtitle mb-2 text-muted">Size:</h2>
                            <h3 class="card-text">{{ shoe.size }}</h3>
                        </div>
                    </div>
                    <div class="w-25">
                        <div class="d-flex flex-column">
                            <h2 class="card-subtitle mb-2 text-muted">Color:</h2>
                            <h3 class="card-text">{{ shoe.color }}</h3>
                        </div>
                    </div>
                    <div class="w-25">
                        <div class="d-flex flex-column">
                            <h2 class="card-subtitle mb-2 text-muted">Brand:</h2>
                            <h3 class="card-text">{{ shoe.brand }}</h3>
                        </div>
                    </div>
                    <div class="w-25">
                        <div class="d-flex flex-column">
                            <h2 class="card-subtitle mb-2 text-muted">Category:</h2>
                            <h3 class="card-text">{{ shoe.category }}</h3>
                        </div>
                    </div>
                    <div class="w-25">
                        <div class="d-flex flex-column">
                            <h2 class="card-subtitle mb-2 text-muted">Material:</h2>
                            <h3 class="card-text">{{ shoe.material }}</h3>
                        </div>
                    </div>
                    <div class="w-25">
                        <div class="d-flex flex-column">
                            <h2 class="card-subtitle mb-2 text-muted">Gender:</h2>
                            <h3 class="card-text">{{ shoe.gender }}</h3>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center mb-5">
                    <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

